<strong>Olá, {{ name }}</strong>
<strong>Você tem uma nova reposta para sua pergunta</strong>
<p>Você possui uma nova matricula na academia</p>
<p>Confira o site.</p>
<p>Pergunta : {{ question }}</p>
<p>Resposta : {{ answer }}</p>
  <small>
    para mais informações entre em contato com o nosso suporte.
  </small>
</p>
